# Welcome to *Hold the Gold's* D.C. housing analysis presentation#

### The following analysis--by utilizing Zillow's extensive housing data--will examine the best real estate zip codes to invest in today.###

![pic](https://1.bp.blogspot.com/-jm3DNs93jbE/VIzbmGsvJqI/AAAAAAAAz9g/lwZW02QNWfk/s1600/WashingtonDC-zip-code-map-shaded.JPG)

### **Goal:**

To find the top 5 zipcodes for our savvy investors to deploy capital into for maximum financial return.

### **Assumptions:**

1. You are an investor with a minimum of $100,000 to deploy upfront.
2. Your time horizon for investment is 5-10 years (this is not a liquid investment).
3. You seek to maximize growth potential by tapping into home value appreciation in one of America's fastest growing metro areas.
4.  Your threshold for volatility is low (note that no investment is guaranteed and any investment with *Hold the Gold* is subject to future market conditions).

### **Background:**

**Why the D.C. metropolitan area?**

In [1]:
max profit
min volatitily 
max potential for home value increase while rental income supplmentation
metro access 
upcoming fast growth trending area
heavy insulation from federal govenrment home
upcoming amazon headquarters
future growth oritented 
risk vs profitability
ROI yield

The DC area is home to numerous 10/10 GreatSchools Rated elementary, middle, and high schools
90-100	Most Competitive Redfin Compete Score
Most homes get multiple offers, often with waived contingencies.
Homes typically receive 1 offer.
Homes sell for around list price and go pending in around 11 days.
Hot Homes can sell for about 3% above list price and go pending in around 5 days.

walkscore.com
Washington D.C. is the 7th most walkable large city in the US with 601,723 residents.

Washington D.C. has excellent public transportation and is somewhat bikeable.77 walk score 71 transit score

SyntaxError: invalid syntax (<ipython-input-1-855680b452d2>, line 1)

### **Methodology:**

### **Exploratory Data Analysis:**

In [4]:
## first import all relevant libraries
import pandas as pd
import datetime as datetime

In [5]:
## read in data
df=pd.read_csv("zillow_data.csv")

In [6]:
## preview data
df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

In [7]:
## select only data from D.C. area
df_dc=df[df["State"]=="DC"]

In [8]:
df_dc_1=df[df["State"]=="DC"]

In [9]:
## drop unneeded columns
## dropped RegionID, City, State, Metro, CountyName
df_dc=df_dc.drop(["RegionID", "City", "State", "Metro", "CountyName", "SizeRank"], axis=1)

In [10]:
##Rename RegionID to zipcode
df_dc.rename(columns={'RegionName': 'Zipcode'}, inplace=True)
df_dc.head()

,Zipcode,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
29,20002,94300.0,94000.0,93700.0,93600.0,93400.0,93400.0,93400.0,93600.0,94000.0,...,662800,668000,672200,673100,674600,678200,680900,683000,687500,691300
33,20009,178800.0,179200.0,179600.0,180000.0,180300.0,180700.0,181200.0,181800.0,182600.0,...,1020000,1027500,1034300,1040500,1047400,1055400,1065900,1076400,1081000,1078200
181,20011,118900.0,118500.0,118200.0,117800.0,117600.0,117400.0,117400.0,117500.0,117800.0,...,582200,586200,591200,593200,591200,589500,590800,599100,611400,619100
246,20019,91300.0,91000.0,90600.0,90400.0,90100.0,89900.0,89700.0,89600.0,89600.0,...,291100,296300,302500,306700,308800,310800,313400,314100,311800,308600
258,20001,92000.0,92600.0,93200.0,93900.0,94600.0,95400.0,96100.0,96800.0,97700.0,...,765000,768800,771200,773300,777600,780500,781600,785500,791400,793300

In [11]:
## Reset dataframe index and drop old index related to original zillow dataset
df_dc.reset_index(drop=True)

,Zipcode,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,1996-11,1996-12,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,20002,94300.0,94000.0,93700.0,93600.0,93400.0,93400.0,93400.0,93600.0,94000.0,...,662800,668000,672200,673100,674600,678200,680900,683000,687500,691300
1,20009,178800.0,179200.0,179600.0,180000.0,180300.0,180700.0,181200.0,181800.0,182600.0,...,1020000,1027500,1034300,1040500,1047400,1055400,1065900,1076400,1081000,1078200
2,20011,118900.0,118500.0,118200.0,117800.0,117600.0,117400.0,117400.0,117500.0,117800.0,...,582200,586200,591200,593200,591200,589500,590800,599100,611400,619100
3,20019,91300.0,91000.0,90600.0,90400.0,90100.0,89900.0,89700.0,89600.0,89600.0,...,291100,296300,302500,306700,308800,310800,313400,314100,311800,308600
4,20001,92000.0,92600.0,93200.0,93900.0,94600.0,95400.0,96100.0,96800.0,97700.0,...,765000,768800,771200,773300,777600,780500,781600,785500,791400,793300
5,20020,104500.0,103800.0,103000.0,102200.0,101400.0,100600.0,100000.0,99500.0,99200.0,...,314700,317600,321800,324500,324800,324900,324900,327300,332800,337000
6,20008,450100.0,448200.0,446300.0,444500.0,442900.0,441600.0,440700.0,440100.0,440100.0,...,1501600,1508800,1509700,1506000,1509100,1514300,1519400,1527900,1539600,1545900
7,20003,130000.0,130100.0,130200.0,130400.0,130600.0,130900.0,131400.0,131900.0,132700.0,...,801000,807200,811900,813400,814600,814600,815300,817300,820200,820200
8,20032,85700.0,85500.0,85400.0,85200.0,85000.0,84800.0,84600.0,84400.0,84200.0,...,288100,293400,297800,301500,303700,304000,304600,306800,308200,307400
9,20016,362000.0,361200.0,360300.0,359400.0,358500.0,357700.0,357000.0,356500.0,356400.0,...,1202900,1198700,1196400,1190400,1184800,1183600,1186600,1190000,1196000,1199500
10,20010,110500.0,111200.0,112000.0,112900.0,113800.0,114900.0,116100.0,117400.0,118800.0,...,732800,741700,750900,756300,759300,761800,763500,767800,774700,778200
11,20007,358100.0,356000.0,353900.0,351700.0,349600.0,347500.0,345800.0,344400.0,343600.0,...,1329300,1330800,1324900,1314100,1303500,1296500,1293000,1291200,1291000,1290000
12,20024,209800.0,208200.0,206600.0,205000.0,203300.0,201900.0,200500.0,199300.0,198300.0,...,879200,866900,860100,864500,874100,878200,882300,885500,886900,885000
13,20017,121700.0,121400.0,121200.0,121000.0,120900.0,120900.0,121100.0,121400.0,121900.0,...,534300,534300,535300,535600,532600,531000,534400,542300,548400,548900
14,20018,123000.0,122400.0,121800.0,121200.0,120700.0,120400.0,120200.0,120200.0,120500.0,...,533200,535200,534700,533100,534500,538700,542200,548300,553800,554100
15,20037,277800.0,275800.0,273700.0,271600.0,269500.0,267600.0,265800.0,264200.0,263100.0,...,906400,914900,918700,923400,938900,953100,967600,990100,1013500,1019600
16,20015,312400.0,311000.0,309800.0,308700.0,307900.0,307400.0,307300.0,307700.0,308800.0,...,1000500,1004000,1005300,1003700,1002900,1003600,1004400,1006400,1007200,1004000
17,20012,185000.0,184900.0,184700.0,184400.0,184100.0,183900.0,183700.0,183800.0,184200.0,...,688500,692000,696100,699400,703800,709400,714400,720100,727400,730700

In [12]:
##cast all zipcodes to string from integer
df_dc["Zipcode"]=df_dc["Zipcode"].astype(str)

In [13]:
## transpose dates to rows
df_dc=df_dc.transpose()
df_dc.head()

,29,33,181,246,258,402,1263,1448,1707,2066,2581,2653,5297,5339,5453,5805,6484,6887
Zipcode,20002,20009,20011,20019,20001,20020,20008,20003,20032,20016,20010,20007,20024,20017,20018,20037,20015,20012
1996-04,94300,178800,118900,91300,92000,104500,450100,130000,85700,362000,110500,358100,209800,121700,123000,277800,312400,185000
1996-05,94000,179200,118500,91000,92600,103800,448200,130100,85500,361200,111200,356000,208200,121400,122400,275800,311000,184900
1996-06,93700,179600,118200,90600,93200,103000,446300,130200,85400,360300,112000,353900,206600,121200,121800,273700,309800,184700
1996-07,93600,180000,117800,90400,93900,102200,444500,130400,85200,359400,112900,351700,205000,121000,121200,271600,308700,184400

In [14]:
## Renaming all columns to reflect the 18 zipcodes of D.C.

new_header=df_dc.iloc[0] ## grab first row for new header
df_dc=df_dc[1:] ## take all data after first row
df_dc.columns=new_header ## assign all columns as previous dataframe's first row

In [15]:
df_dc.head()

Zipcode,20002,20009,20011,20019,20001,20020,20008,20003,20032,20016,20010,20007,20024,20017,20018,20037,20015,20012
1996-04,94300,178800,118900,91300,92000,104500,450100,130000,85700,362000,110500,358100,209800,121700,123000,277800,312400,185000
1996-05,94000,179200,118500,91000,92600,103800,448200,130100,85500,361200,111200,356000,208200,121400,122400,275800,311000,184900
1996-06,93700,179600,118200,90600,93200,103000,446300,130200,85400,360300,112000,353900,206600,121200,121800,273700,309800,184700
1996-07,93600,180000,117800,90400,93900,102200,444500,130400,85200,359400,112900,351700,205000,121000,121200,271600,308700,184400
1996-08,93400,180300,117600,90100,94600,101400,442900,130600,85000,358500,113800,349600,203300,120900,120700,269500,307900,184100

In [16]:
df_dc.index=pd.to_datetime(df_dc.index)
df_dc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 265 entries, 1996-04-01 to 2018-04-01
Data columns (total 18 columns):
20002    265 non-null object
20009    265 non-null object
20011    265 non-null object
20019    265 non-null object
20001    265 non-null object
20020    265 non-null object
20008    265 non-null object
20003    265 non-null object
20032    265 non-null object
20016    265 non-null object
20010    265 non-null object
20007    265 non-null object
20024    265 non-null object
20017    265 non-null object
20018    265 non-null object
20037    265 non-null object
20015    265 non-null object
20012    265 non-null object
dtypes: object(18)
memory usage: 39.3+ KB

In [20]:
df_dc.reset_index()
df_dc.head()

Zipcode,20002,20009,20011,20019,20001,20020,20008,20003,20032,20016,20010,20007,20024,20017,20018,20037,20015,20012
1996-04-01,94300,178800,118900,91300,92000,104500,450100,130000,85700,362000,110500,358100,209800,121700,123000,277800,312400,185000
1996-05-01,94000,179200,118500,91000,92600,103800,448200,130100,85500,361200,111200,356000,208200,121400,122400,275800,311000,184900
1996-06-01,93700,179600,118200,90600,93200,103000,446300,130200,85400,360300,112000,353900,206600,121200,121800,273700,309800,184700
1996-07-01,93600,180000,117800,90400,93900,102200,444500,130400,85200,359400,112900,351700,205000,121000,121200,271600,308700,184400
1996-08-01,93400,180300,117600,90100,94600,101400,442900,130600,85000,358500,113800,349600,203300,120900,120700,269500,307900,184100

In [24]:
## cast all prices from strings to integers
df_dc=df_dc.astype(int)

In [23]:
df_dc.index

DatetimeIndex(['1996-04-01', '1996-05-01', '1996-06-01', '1996-07-01',
               '1996-08-01', '1996-09-01', '1996-10-01', '1996-11-01',
               '1996-12-01', '1997-01-01',
               ...
               '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01',
               '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01',
               '2018-03-01', '2018-04-01'],
              dtype='datetime64[ns]', length=265, freq=None)

Requirments
- Baseline model
- Staitonarity (e.g. trends, seasonal patterns, cyclical patterns, differencing, Dickey Fuller Test)  
- ACF
- PACF
- At least AR and MA models
- Evaluation metric

In [26]:
df_dc.to_csv("zillow_dc_cleaned.csv")

### **Results:**

### **Recommendations:**

A high-level overview of your methodology and findings, including the 5 zipcodes you recommend investing in
A brief explanation of what metrics you defined as "best" in order complete this project